Instalar la siguiente libreria:

'Nos ayuda a leer los archivos de excel'

In [ ]:
!pip install openpyxl

### Librerias

In [1]:
import pandas as pd
import pandasql as ps
import numpy as np

Importamos los datos enviados por Braintrust y seleccionamos la hoja BASE, la cual es la que contiene los datos. Las otras hojas contienen el enunciado, pero no nos interesa para procesar por aquí.

In [2]:
data = pd.read_excel('CatastroTest.xlsx', sheet_name='BASE')
print(data.shape)
data.head()

(20000, 22)

,Clase_Bien_Inmueble,Parcela_Catastral,Numero_Secuencial_BI,Primer_Caracterl_Control,Segundo_Caracter_Control,Codigo_Provincia_INE,Nombre_Provincia,Codigo_Municipio_INE,Nombre_Municipio,Tipo_Via,...,Primera_Letra,Kilometro,Bloque,Escalera,Planta,Puerta,Codigo_Postal,Anio_Antiguedad,Usabilidad,Superficie_construida
0,UR,2872510VK4727D,36,T,Q,28,MADRID,79,MADRID,CL,...,NaN,0,NaN,D,1,B,28002,1970,V,115
1,UR,3676124VK4737F,58,G,H,28,MADRID,79,MADRID,CL,...,NaN,0,NaN,NaN,-1,27,28002,1999,A,32
2,UR,9493306VK3799C,35,Q,K,28,MADRID,79,MADRID,CL,...,NaN,0,NaN,NaN,9,DA,28039,1960,V,81
3,UR,9198702VK3799E,75,S,K,28,MADRID,79,MADRID,CL,...,NaN,0,NaN,1,5,A,28039,1996,V,118
4,UR,0131201DF3803A,87,Z,L,8,BARCELONA,19,BARCELONA,PS,...,NaN,0,NaN,NaN,-2,15,8008,2001,A,44

Comprobamos si nos falta algún dato:

In [3]:
data.isna().sum()

Clase_Bien_Inmueble             0
Parcela_Catastral               0
Numero_Secuencial_BI            0
Primer_Caracterl_Control        0
Segundo_Caracter_Control        0
Codigo_Provincia_INE            0
Nombre_Provincia                0
Codigo_Municipio_INE            0
Nombre_Municipio                0
Tipo_Via                        0
Nombre_Via                      0
Primer_Numero_Policia           0
Primera_Letra               19140
Kilometro                       0
Bloque                      19648
Escalera                     7183
Planta                         12
Puerta                         94
Codigo_Postal                   0
Anio_Antiguedad                 0
Usabilidad                      0
Superficie_construida           0
dtype: int64

### Pregunta 1

Buscar el número distintos de provincias que existen en los datos:

In [4]:
unique_provence = data.Nombre_Provincia.unique()
unique_provence.tolist()

['MADRID', 'BARCELONA', 'CIUDAD REAL', 'ALICANTE']

Buscar el número distintos de códigos postales:

In [5]:
unique_postal = data.Codigo_Postal.unique()
unique_postal.tolist()

[28002, 28039, 8008, 13003, 3501, 8840, 28108, 3113]

### Pregunta 2

Respondiendo a la pregunta con el formato del enunciado:

- Residencial-Viviendas: 12297 inmuebles

- Oficinas: 494 inmuebles

- Comercios: 924 inmuebles

- Estacionamientos: 5635 inmuebles

In [6]:
data.Usabilidad.value_counts()

V    12297
A     5635
C      924
O      494
I      337
M      195
G       73
E       17
K        9
Y        8
R        5
P        5
T        1
Name: Usabilidad, dtype: int64

Me he fijado que el 0 de uno de los códigos postales al princpio del dígito me impide procesar todos los datos uniformemente. Así que trasnformo el digito en string y asi puedo poner de input la variable como carácter.

Tambien se definen algunas variables que vamos a usar. Para su mejor lectura y modificación.

In [7]:
data['Codigo_Postal_string'] = data.Codigo_Postal.map(str)

codigos = ['28002', '3501', '13003', '8008']
# anio_atual = 2022

### Pregunta 3

Voy a definir las funciones que calculan los datos que se tiene que obtener por codigo postal.
Los datos se introduciran en el Excel de manera manual para su correcta entrega.

In [8]:
def inmuebles(data, codigo):
    data_2 = data[data['Codigo_Postal_string'] == codigo]
    count = data_2.Parcela_Catastral.count()
    
    return count


def edificios(data, codigo):
    data_2 = data[data['Codigo_Postal_string'] == codigo]
    count = data_2.groupby('Parcela_Catastral').count().shape[0]
    
    return count


def antigu_media(data, codigo):
    anios = data[data['Codigo_Postal_string'] == codigo]['Anio_Antiguedad']
    edad = []
    for i in anios:
        edad.append(2022-i)
    edad = np.average(edad)

    return np.average(anios), edad


def tamano_medio(data, codigo):
    metros = data[data['Codigo_Postal_string'] == codigo]['Superficie_construida']
    
    return np.average(metros)

In [9]:
for i in codigos:
    print(f'Codigo Postal: {i}')
    print(f'Numero de Edificios: {edificios(data, i)}')
    print(f'Numero de Inmuebles: {inmuebles(data, i)}')
    print(f'Antiguedad Media: {antigu_media(data, i)}')
    print(f'Tamaño Medio: {tamano_medio(data, i)}')
    print('--------------------------------------------------')

Codigo Postal: 28002
Numero de Edificios: 1420
Numero de Inmuebles: 5831
Antiguedad Media: (1970.187274909964, 51.81272509003601)
Tamaño Medio: 135.07425827473847
--------------------------------------------------
Codigo Postal: 3501
Numero de Edificios: 489
Numero de Inmuebles: 2154
Antiguedad Media: (1976.2149489322192, 45.78505106778087)
Tamaño Medio: 96.09192200557104
--------------------------------------------------
Codigo Postal: 13003
Numero de Edificios: 519
Numero de Inmuebles: 2114
Antiguedad Media: (1978.0056764427625, 43.994323557237465)
Tamaño Medio: 81.57190160832545
--------------------------------------------------
Codigo Postal: 8008
Numero de Edificios: 210
Numero de Inmuebles: 703
Antiguedad Media: (1954.3001422475106, 67.69985775248934)
Tamaño Medio: 260.74395448079656
--------------------------------------------------

El resultado de la antiguedad media esta compuesto por la siguiente tupla:
(Año medio, edad media)

### Pregunta 4

SQL

Sacar la antigüedad media por código postal.

In [10]:
catastro = data.copy()

In [11]:
query = '''
SELECT Codigo_Postal, avg(Anio_Antiguedad) as Media_Antiguedad
FROM catastro
GROUP BY Codigo_Postal
ORDER BY Media_Antiguedad DESC;
'''

In [12]:
ps.sqldf(query)

   Codigo_Postal  Media_Antiguedad
0           8840       1978.592677
1          13003       1978.005676
2           3501       1976.214949
3          28002       1970.187275
4          28039       1961.051690
5           8008       1954.300142
6          28108       1948.512242
7           3113       1684.417143